@import url(Productos.css);
@import url(presentacion.css);

.banner {
  background-image: url("Imagenes/dune_awakening_2023_video_game-wallpaper-3554x1999.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.header {
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logito {
  display: flex;
  margin-left: 2rem;
}

.logito h1 {
  font-size: 1.5rem;
}
.header h1 {
  color: #fff;
  margin: 0;
}

.menu {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-left: 11rem;
}

.menu {
  background-color: #333;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 0 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

body {
  background-color: #272626f1;
}

.menu__opciones:hover {
  color: rgb(218, 62, 23);
  transition: 0.3s;
}

.Inicio p {
  color: white;
  font-size: 2rem;
}

.Inicio h2 {
  color: white;
  font-size: 3rem;
}

.Inicio p {
  width: 50ch;
  font-size: 2rem;
  text-align: left;
  margin-left: 3rem;
}
