.header {
  background-color: #333;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logito {
  display: flex;
  margin-left: 2rem;
}

.logito h1 {
  font-size: 1.5rem;
}
.header h1 {
  color: #fff;
  margin: 0;
}

.menu {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-left: 11rem;
}

.menu {
  background-color: #333;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin: 0 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu__opciones:hover {
  color: rgb(218, 62, 23);
  transition: 0.3s;
}

.contenedor {
  display: flex;
  justify-content: space-between;
}

.seccion {
  flex-basis: 23%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(2, 1, 0);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #272626f1;
}
.seccion:hover {
  transform: scale(1.1);
}

.seccion img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.seccion-info {
  padding: 20px;
}

.seccion h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.seccion p {
  color: #666;
  margin-bottom: 10px;
}

.seccion-precio {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.titulo-logo {
  width: 100%;
  text-align: center;
}

.titulo-logo h1 {
  margin-bottom: 10px;
  color: #fff;
}

.info-empresa {
  width: 30%;
  text-align: left;
}

.info-empresa h4 {
  margin-bottom: 10px;
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label,
form input,
form button {
  margin-bottom: 10px;
}

form input {
  padding: 10px;
  width: 100%;
}

form button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #217dbb;
}

.redes-sociales {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.redes-sociales a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .info-empresa,
  form,
  .redes-sociales {
    width: 100%;
    margin-top: 10px;
  }
}
